{% extends 'base.html' %}
{% load static %}

{% block css_style%}<link rel="stylesheet" href="{% static 'linkmodifier/add_qr.css' %}">{% endblock %}

{% block page_title %}Add QR{% endblock %}

{% block content%}
    <div class="links-container">
    {% for link in links %}
        <div class="link-wrapper">
            <p>{{link.title}}</p>
            <p>{{link.url_link}}</p>
            <div>
                <form method="POST">
                    {% csrf_token %}
                    <input type="submit" value="Generate QR for this link">
                </form>
            </div>
            <hr>
        </div>
    {% empty %}
        <h3>No links</h3>
    {% endfor %}
    </div>
{% endblock content%}