{% extends 'base.html' %}
{% load static %}

{% block css_style%}<link rel="stylesheet" href="{% static 'linkmodifier/add_qr.css' %}">{% endblock %}

{% block page_title %}Add QR{% endblock %}

{% block content%}
    <div class="links-container">
    {% for link in links %}
        <div class="link-wrapper">
            <div class="link-title-wrapper">
                <p>{{link.title}}</p>
                <p>{{link.url_link}}</p>
                <hr>
            </div>
            <div class="form-wrapper">
                <form method="POST">
                    {% csrf_token %}
                    <div class="color-picker">
                        <label for="fill-color">Select fill color:</label>
                        <input type="color" id="fill-color" name="fill-color" value="#000000">
                        <label for="background-color">Select background color:</label>
                        <input type="color" id="background-color" name="background-color" value="#FFFFFF">
                        <hr>
                        <button type="submit">Generate QR code</button>
                    </div>
                </form>
            </div>

        </div>
    {% empty %}
        <h3>No links</h3>
    {% endfor %}
    </div>
{% endblock content%}