{% extends "base.html" %}
{% load static %}

{% block css_style%}<link rel="stylesheet" href="{% static 'linkmodifier/delete.css' %}">{% endblock %}

{% block page_title %}Delete Link{% endblock %}


{% block content%}
    <div class="delete-container">
        <form method="POST">
            {% csrf_token %}
            {% if link.title %}
            <p>Are you sure? {{link.title}} will be deleted</p>
            {% else %}
            <p>Are you sure? {{link.url_link}} will be deleted</p>
            {% endif %}
            <hr>
            <div class="button-wrapper">
                <button type="submit">Delete</button>
            </div>
        </form>
    </div>
{% endblock content%}