{% extends "base.html" %}
{% load static %}

{% block css_style%}<link rel="stylesheet" href="{% static 'linkmodifier/edit_qr.css' %}">{% endblock %}

{% block page_title %}Edit QR{% endblock %}

{% block content%}
    <div class="links-container">
    {% for link in links %}
        <div class="link-wrapper">
            <p>{{link.title}}</p>
            <p>{{link.url_link}}</p>
            <hr>
            <div>
                <form method="POST">
                    {% csrf_token %}

                    <div class="color-picker">
                        <label for="fill-color">Select fill color:</label>
                        <input type="color" id="fill-color" name="fill-color" value="#000000">
                        <label for="background-color">Select background color:</label>
                        <input type="color" id="background-color" name="background-color" value="#FFFFFF">
                        <div class="edit-button-wrapper">
                            <button type="submit">Edit QR code</button>
                        </div>
                    </div>

                </form>
                <div class="delete-button-wrapper">
                <form action="{% url 'delete_qr_page' link.id %}">
                    <button type="submit">Delete QR</button>
                </form>
                </div>
            </div>
        </div>
    {% empty %}
        <h3>No links</h3>
    {% endfor %}
    </div>
{% endblock content%}