{% extends 'base.html' %}
{% load static %}

{% block css_style%}<link rel="stylesheet" href="{% static 'linkmodifier/homepage.css' %}">{% endblock %}

{% block page_title %}Home{% endblock %}

{% block content%}
    <div class="links-container">
    {% for link in links %}
        <div class="link-wrapper">
            <p>{{link.title}}</p>
            <p>{{link.url_link}}</p>
            {% if link.png_with_qr %}
            <img src="{{ link.png_with_qr.url }}" width="200" height="200">
            <a href="{% url 'add_qr_page' link.id %}">Edit QR</a>
            <a href="{{ link.png_with_qr.url }}" download="{{link.url_link}}">Download</a>
            {% else %}
            <a href="{% url 'add_qr_page' link.id %}">Add QR</a>
            {% endif %}
            <hr>
        </div>
    {% empty %}
        <h3>No links</h3>
    {% endfor %}
    </div>
{% endblock content%}