{% extends "base.html" %}
{% load static %}

{% block css_style%}<link rel="stylesheet" href="{% static 'linkmodifier/login.css' %}">{% endblock %}

{% block page_title %}Login{% endblock %}

{% block content%}
    <div class="login-container">
        <form method="POST">
            {% csrf_token %}
            <h2>Login</h2>
            <div class="form-group">
                <label>Username:</label>
                <input type="text" name="username" placeholder="">
            </div>
            <div class="form-group">
                <label>Password:</label>
                <input type="password" name="password" placeholder="">
            </div>
            <button type="submit">Login</button>
        </form>
    </div>
{% endblock content%}