{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{% static 'base.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
        {% block css_style%}{% endblock %}
        <title>{% block page_title %}Tasks{% endblock %}</title>
    </head>
    <body>
        {% block navbar %}
        <div class="wrapper">
            <div class="sidebar">
                <h2>LinkTool</h2>
                <ul>
                    {% if request.user.is_authenticated %}
                    <li><a href="{% url 'home_page'%}">Home</a></li>
                    <li><a href="{% url 'add_link'%}">Add Link</a></li>
                    <li><a href="{% url 'logout'%}"></i>Logout</a></li>
                    {% else %}
                    <li><a href="{% url 'start_page'%}">Home</a></li>
                    <li><a href="{% url 'login_page'%}"></i>Login</a></li>
                    <li><a href="{% url 'registration_page'%}"></i>Register</a></li>
                    {% endif %}
                </ul>
            </div>

            <div class="main_content">
                {% block content%}

                {% endblock content%}
            </div>
        </div>

        {% endblock %}

    </body>>
</html>